.au {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
    margin-top: 148px;
    padding: 48px;
}

.au h1 {
    margin-bottom: 16px;
    margin-top: 48px;
    color: #333;
}

.au h1:nth-child(1) {
    margin-top: 0px;
}

.au-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.au-developers li {
    width: 380px;
    height: 120px;
    padding: 24px;
    border-radius: 16px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.au-tech li {
    width: 280px;
    height: 140px;
    padding: 24px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.au-tech li:nth-child(1) {
    box-shadow: 0 0 10px #3fc5ff;
    background-color: #3fc5ff;
}
.au-tech li:nth-child(2) {
    box-shadow: 0 0 10px #624aff;
    background-color: #624aff;
}
.au-tech li:nth-child(3) {
    box-shadow: 0 0 10px #36cfd1;
    background-color: #36cfd1;
}
.au-tech li:nth-child(4) {
    box-shadow: 0 0 10px #496ce7;
    background-color: #496ce7;
}