.sc {
    margin-top: 48px;
    width: 248px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sc-progressFn {
    width: 42px;
    height: 42px;
    background-image: url(../../../../static/SingSystem/singPanel/backward.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.sc-forward {
    background-image: url(../../../../static/SingSystem/singPanel/forward.png);
}

.sc-ctrl-btn {
    width: 96px;
    height: 96px;
    background-color: #fff;
    border-radius: 48px;
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
}

.sc-play {
    background-image: url(../../../../static/SingSystem/singPanel/play.png);
}

.sc-pause {
    background-image: url(../../../../static/SingSystem/singPanel/pause.png);
}