.learn-header {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #e5e5e5;
}


.learn-header-content {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
}
.learn-header-back {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: none;
    background-image: url(../../../static/Learn/back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 1px;
    background-color: #fff;
}
.learn-header-title {
    margin-left: 20px;
    font-size: 28px;
    color: #4b4b4b;
    vertical-align:top ;
}
